<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Ionic + Tailwind </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-gray-50">
    <div
      class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between"
    >
      <h2
        class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"
      >
        <span class="block">You love my apps?</span>
        <span class="block text-blue-700"
          >Join my soon-to-come education platform</span
        >
      </h2>
      <div class="mt-8 lex lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
          <a
            href="https://jonathanperry.info"
            target="blank"
            class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-white text-base font-medium rounded"
          >
            Get Started
          </a>
        </div>
        <div class="ml-3 inline-flex rounded-md shadow">
          <a
            target="blank"
            class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-transparent text-base font-medium rounded"
          >
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>

  <ion-button expand="full" color="primary">Ionic Button</ion-button>
  <button
    class="py-2 px-4 mt-2 mb-2 w-full font-semibold rounded-md shadow-md text-light-default bg-primary-default hover:bg-primary-tint"
  >
    Custom Button from HTML
  </button>
</ion-content>
